
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    -moz-background-size:cover;
    background-size:cover;
    overflow: hidden;
    width: 100%;

    .column {
        display: flex;
        flex-direction: column;
        padding: 12px;

        span {
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:15px ;
            padding-right: 15px;
            border-radius: 4px;
            background:@primary-color;
            color: white;
            width: fit-content;
        }
    }

  }
  